<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="auditlogging" type="RiverSystem.Persistence.AuditConfiguration.AuditLogConfiguration, RiverSystem.Persistence"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RiverSystem.CommandLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.diagnostics />
  
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %p %m%n"/>
      </layout>
    </appender>
    <appender name="CommandLineLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\eWater CRC\eWater Source\Logs\commandline.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>

    <root>
      <level value="ERROR"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="CommandLineLogAppender"/>
    </root>
  </log4net>

  <auditlogging enabled="true">
    <includes>
      <clear/>
      <add name="RiverSystem" enabled="true"/>
      <add name="RiverSystem.Recording" enabled="false"/>
      <add name="RiverSystem.Persistence" enabled="false"/>
      <add name="RiverSystem.Collections" enabled="false"/>
      <add name="RiverSystem.ObjectStates" enabled="false"/>
      <add name="RiverSystem.DataManagement" enabled="false"/>
      <add name="RiverSystemGUI_II" enabled="false"/>
      <add name="RiverSystem.Forms" enabled="false"/>
      <add name="RiverSystem.Controls" enabled="false"/>
    </includes>
  </auditlogging>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <qualifyAssembly partialName="FirebirdSql.Data.FirebirdClient" fullName="FirebirdSql.Data.FirebirdClient, Version=2.6.5.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c"/>
    </assemblyBinding>
  </runtime>

  <system.web>
    <compilation debug="true"/>
  </system.web>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <!-- Commented out, a default endpoint will be created in code if this is missing 
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <!- Main service Binding ->
        <binding name="NetTcpBindingEndpoint" 
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="5242880"
                 maxBufferSize="5242880" maxConnections="10" maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <!- CLIENT ->
    <client>
      <endpoint address="net.tcp://localhost:8523/eWater/Services/RiverSystemService"
                binding="netTcpBinding" 
                bindingConfiguration="NetTcpBindingEndpoint"
                contract="ServiceReference.IRiverSystemService" 
                name="NetTcpBindingEndpoint">
      </endpoint>
    </client>

      <!- SERVICES ->
    <services>
      <service name="RiverSystem.Services.RiverSystemService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/eWater/Services/RiverSystemService" />
          </baseAddresses>
        </host>

        <!- The Main service endpoint ->
        <endpoint address=""
                  binding="netTcpBinding" 
                  bindingConfiguration="NetTcpBindingEndpoint"
                  name="NetTcpBindingEndpoint"
                  contract="RiverSystem.Services.IRiverSystemService">
        </endpoint>

          <!- The Metadata endpoint ->
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

      <!- BEHAVIORS ->
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <RiverSystem.CommandLine.Properties.Settings>
      <setting name="WCFOperationTimeoutSeconds" serializeAs="String">
        <value>1800</value>
      </setting>
    </RiverSystem.CommandLine.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingEndpoint" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8523/eWater/Services/RiverSystemService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBindingEndpoint"
        contract="ServiceReference.IRiverSystemService" name="NetTcpBindingEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
